<nav role="navigation" class="menu">


    <ul>
        <li><a href="#"> <i class="icon-user"></i><br>Mon compte
                <ul>
                    <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                    <li><a href="{{  path('fos_user_registration_register') }}">Créer un compte</a></li>
                    <li><a href="{{ path('fos_user_change_password') }}">Mot de passe perdu?</a></li>
                </ul>
            </a></li>

        <li><a href="{{ path('panier') }}"><i class="icon-shopping-cart"></i><br> Panier</a></li>
    </ul>

</nav>